# Config file for LZER0. This file is used mainly by the floowing scripts:
# - lzer0.tcp2file.ubx
# - lzer0.change.rtkcfg
# - lzer0.compress.hourlygnss
# - lzer0.record.hourlypos
# - lzer0.check.recordhourlypos
# - lzer0.compress.hourlygnssall
#
# Rover site name
rover name: L001
#
# Rover site coordinates Lat[deg.deg],Lon[deg.deg],H[m]
rover coordinates: 46.037346589,13.253101865,149.258
#
# Master site name
master name: UDI3
#
# Rover site coordinates Lat[deg.deg],Lon[deg.deg],H[m]
rover coordinates: 46.037476167,13.25301545,149.29
